In [8]:
import pandas as pd
df= pd.read_excel('C:/Users/subed/OneDrive/Desktop/testdata/weather.xlsx')
df

         day  temperature  windspeed  event
0 2017-01-01           45          6   Rain
1 2017-01-02           44          5   Snow
2 2017-01-03           47          6   Snow
3 2017-01-04           32         10   rain
4 2017-01-05           36         20  windy
5 2017-01-06           31         13  Sunny
6 2017-01-07           43          8   rain
7 2017-01-08           42          9  Sunny

In [10]:
rows, columns = df.shape
rows

8

In [11]:
df.head()

         day  temperature  windspeed  event
0 2017-01-01           45          6   Rain
1 2017-01-02           44          5   Snow
2 2017-01-03           47          6   Snow
3 2017-01-04           32         10   rain
4 2017-01-05           36         20  windy

In [13]:
df[2:5]

         day  temperature  windspeed  event
2 2017-01-03           47          6   Snow
3 2017-01-04           32         10   rain
4 2017-01-05           36         20  windy

In [14]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
df.day

0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
4   2017-01-05
5   2017-01-06
6   2017-01-07
7   2017-01-08
Name: day, dtype: datetime64[ns]

In [16]:
df[['event','day']]

   event        day
0   Rain 2017-01-01
1   Snow 2017-01-02
2   Snow 2017-01-03
3   rain 2017-01-04
4  windy 2017-01-05
5  Sunny 2017-01-06
6   rain 2017-01-07
7  Sunny 2017-01-08

In [19]:
df['temperature'].std()

6.141195788629908

In [25]:
df['day'][df.temperature== df.temperature.max()]

2   2017-01-03
Name: day, dtype: datetime64[ns]

In [27]:
df.set_index('day', inplace=True)

In [28]:
df

            temperature  windspeed  event
day
2017-01-01           45          6   Rain
2017-01-02           44          5   Snow
2017-01-03           47          6   Snow
2017-01-04           32         10   rain
2017-01-05           36         20  windy
2017-01-06           31         13  Sunny
2017-01-07           43          8   rain
2017-01-08           42          9  Sunny

In [29]:
df.loc['2017/1/5']

temperature       36
windspeed         20
event          windy
Name: 2017-01-05 00:00:00, dtype: object

In [31]:
df.loc['Snow']

KeyError: 'Snow'